server:
  port: 8086

spring:
  application:
    name: reports-service

  datasource:
    url: jdbc:postgresql://localhost:5432/reports
    username: postgres
    password: simple123
    driver-class-name: org.postgresql.Driver

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
  cloud:
    function:
      definition: reportSend
    stream:
      bindings:
        reportSend-out-0:
          destination: report.send.exchange
          content-type: application/json
          producer:
            durable-expression: true
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: reports
    instance-id: ${spring.application.name}:${server.port}

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  group-configs:
    - group: reports
      paths-to-match: /reports/**
      packages-to-scan: com.arka_store.reports

s3:
  bucket-name: arka-metrics-reports
  endpoint: http://localstack:4566
  region: us-east-1

cloud:
  aws:
    credentials:
      access-key: test
      secret-key: test